
@font-face {
    font-family: "Creepster";
    src: url("./res/font/Creepster.eot");
    src: url("./res/font/Creepster.eot?#iefix")format("embedded-opentype"),
        url("./res/font/Creepster.woff2")format("woff2"),
        url("./res/font/Creepster.woff")format("woff"),
        url("./res/font/Creepster.ttf")format("truetype"),
        url("./res/font/Creepster.svg#Creepster")format("svg");
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    
    margin:0;
}

/*ALL*/

label,
input,
select,
option,
span {
    font-size: 1.5rem;
}

input, select{
    width: 15rem;
}

label{
    width: auto;
    margin-right: 1rem;
}

.control{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
}

.control > div {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}

.container {
    position: relative;
    width: 100;
    height: 100vh;
    padding: 3rem;
    background-color: lavender;
}

.container-dark {
    background-color: black;
}

.container-rainbow {
    background: linear-gradient(45deg,red,green,blue);
}

.container-dark label,
.container-rainbow label,
.container-dark span,
.container-rainbow span {
    color:white;
}

/*
GAME */
.loading{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    white-space: nowrap;
    font-family: "Creepster", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#gameCanvas,
#guiCanvas,
#valueCanvas,
#controlCanvas,
#pointerCanvas,
#markerCanvas {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    /* border: 3px solid white; */
}

#markerCanvas,
#pointerCanvas {
    opacity: 0.5;
}
#markerCanvas.hide,
#pointerCanvas.hide,
.hide {
    opacity: 0;
}


#gameContainer:-webkit-full-screen > canvas {
    width: 100% !important;
}

#gameContainer:-moz-full-screen > canvas {
    width: 100% !important;
}

#gameContainer:-ms-fullscreen > canvas {
    width: 100% !important;
}

#gameContainer:fullscreen > canvas {
    width: 100% !important;
}